@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Poppins:wght@400;500&display=swap');
@import "variables";

@import "popup";
@import "header";
@import "main";
@import "nameBlock";
@import "about";
@import "firstBlock";
@import "secondBlock";
@import "hamam";
@import "sauna";
@import "production";
@import "footer";
@import "phoneUpPhone";
@import "topButton";
@import "location";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    display: inline-block;
    width: fit-content;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    object-fit: cover;
}

.container {
    width: 90%;
    margin: 0 auto;
    border-left: 3px solid $grey-color;
    @media screen and (max-width: 768px) {
        border-left: none;
    }
}

.width-line {
    width: 100%;
    height: 3px;
    background: $grey-color;
}

@media (min-width: 1350px) {
    .container {
        width: 1270px;
    }
}